<footer>
    <div class="f-info">
        <div class="f-info-social">
             <a href="https://github.com/beingzuhairkhan"class="fa-brands fa-square-github"></a>
             <a href="https://twitter.com/beingzuhairkhan"class="fa-brands fa-square-facebook"></a>
             <a href="https://twitter.com/beingzuhairkhan"class="fa-brands fa-square-instagram"></a>
             <a href="https://www.linkedin.com/in/zuhair-khan-55b9a624a/"class="fa-brands fa-linkedin"></a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            
            
        </div>
    </div>
</footer>
