<style>
  .search-btn {
    background-color: #fe424d;
    border-radius: 25px;
    color: #fff;
    padding: 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.8rem;
  }

  .d-flex {
    background-color: #ebebee !important;
    display: flex;
    align-items: center;
    justify-content: center; /* Added to horizontally center */
    margin: 0 auto; 
  }

  .Newnavbar {
    color: #f8f9fa !important;
    margin-bottom: 30px !important;
  
    
  }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler"
       type="button"
        data-bs-toggle="collapse"
         data-bs-target="#navbarNavAltMarkup"
         >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings"><b>Explore</b></a>
        </div>
          <div class="navbar-nav ms-auto">
            <nav class="Newnavbar">
              <div class="container-fluid">
                <a class="navbar-brand"></a>
                <form class="d-flex" role="search">
                  <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations" aria-label="Search">
                  <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
              </div>
            </nav>

         
        </div>
        <div class="navbar-nav ms-auto " id="navbarNavAltMarkup">
          <a class="nav-link" href="/listings/new"><b>Add new home</b></a>
          <div class="navbar-nav">

            <% if(!currUser){%>
              <a class="nav-link "  href="/signup"><b>signup</b></a>
              <a class="nav-link" href="/login"><b>login</b></a>

            <%}%>
           
            <% if(currUser){%>
            <a class="nav-link" href="/logout"><b>logout</b></a>
            <%}%>
           
          </div>

      </div>
    </div>
  </nav>
