body {

    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;

}


@media screen and (max-width: 900px) {
    .container-fluid {
        background-color: #ebebee !important;
        color: white;

        text-align: center;
    }
}



.navbar {
    height: 5rem;
    background-color: #ebebee !important;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
/* Footer Styles */
.f-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightgrey;
    padding: 1rem;
    text-align: center;
    height: auto;
}

.f-info-brand {
    font-size: 1.2rem;
    color: #222222;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.f-info-social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2px;
}

.f-info-social a {
    color: #222222;
    text-decoration: none;
    transition: color 0.3s ease;
}

.f-info-social a:hover {
    color: #fe424d; /* Highlight color on hover */
}

.f-info-link {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.f-info-link a {
    color: #222222;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.f-info-link a:hover {
    color: #fe424d; /* Highlight color on hover */
}

/* Mobile responsiveness */
@media screen and (max-width: 900px) {
    .f-info {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .f-info-brand {
        margin-top: 1rem;
    }

    .f-info-social {
        font-size: 1.2rem;
    }

    .f-info-link a {
        margin: 0 5px;
    }
}

/* card */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 900 !important;
}

.Listing-link {
    text-decoration: none;
}

/* card overlays */
.card-img-overlay {
    opacity: 0;

}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.show-img {
    height: 40vh;


}

.btns {
    display: flex;

}

.f-info-social a {
    color: #222222;
    text-decoration: none;
    opacity: 1;
}



#map {
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 400px;
    width: 80vh;
}