
  

body{
    
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
@media screen and (max-width: 900px) {
     .container-fluid {
        background-color: #ebebee !important;
        color: white;
        text-align: center;
    }
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-link a{
    text-decoration: none;
    color: #222222;
   
}
.f-info-link a :hover{
    text-decoration: underline;

}
/* .f-info {
    text-align: center;
} */
.f-info{
    display: flex;
    height: 6rem;
    background-color: lightgrey;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;

   
   
}
.f-info-link{
    width: 100%;
    text-align: center;
    margin-top: 0.9rem;
}
.f-info-social{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
   
}

.f-info-social i {
    margin-right: 0.8rem;
}
.f-info-brand{
    margin-top: 0.9rem;
}

/* card */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
   
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p  {
    font-weight: 900 !important;
}
.Listing-link{
    text-decoration: none;
}

/* card overlays */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-img{
    height: 40vh;
  

}
.btns{
    display: flex;
   
}
.f-info-social a {
    color: #222222;
    text-decoration: none;
    opacity: 1;
}



#map {
     height: 400px;
     width: 80vh;
     }

