<% layout("layouts/boilerplate.ejs")%>
<div class="row mt-3">
    <!-- <h1>SignUp on Wanderlusts</h1> -->
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <h1>SignUp on Wanderlusts</h1>
            <br>
            <div>
                <label for="username" class="form-label">Username: </label>
                <input required  class ="form-control" name="username" id="username" type="text">
               <div class="valid-feedback"> Looks Good</div>
            </div>
            <!-- <br> -->
            <div>
                <label for="email" class="form-label">Email: </label>
                <input required  class ="form-control" name="email" id="email" type="email">
               <!-- <div class="valid-feedback"> Looks Good</div><br> -->
            </div>

            <!-- <br> -->
            <div>
                <label for="password" class="form-label">password: </label>
                <input required  class ="form-control" name="password" id="password" type="password">
               <!-- <div class="valid-feedback"> Looks Good</div><br> -->
            </div><br>

            <button class="btn btn-success ">SignUp</button>
    
        </form>



    </div>
        
    
    
</div>